{% extends "base.html" %}
{% block content %}
<section class="notice">
  <h1>Willkommen bei der Geo-Metadata-Engine</h1>
  <ul class="messagelist">
    <li class="warning notice__alert" role="alert">
      Sie sind als <strong>{{ user.get_username }}</strong> angemeldet, haben
      aber noch keine Berechtigung für die GID Metadaten-Verwaltung.
    </li>
  </ul>
  <p class="notice__text">
    Ein Administrator wird Ihre Anfrage prüfen, und Ihnen gegebenenfalls
    die nötigen Berechtigungen zuteilen. Bis es soweit ist, bitten wir um
    etwas Geduld. Sie hören von uns...
  </p>
</section>
{% endblock %}
